
.heroBackground
{
    background-image: url("/img/hero-image.jpg");
    background-size: cover;
    background-position: center;
}

.bigCloud
{
    width: 50%;
    right: 1%;
    bottom: 10px;
}

.bigCloudTwo
{
    width: 35%;
    right: 0%;
    bottom: 0%;
}

.heroTitle
{
    font-family: 'Barriecito', cursive;
}

.sun
{
    width: 20%;
    left: 20%;
    top: 10%;
}

.smallCloud
{
    width: 35%;
    left: 1%;
    top: 50%;
}

.smallCloudTwo
{
    width: 45%;
    left: 8%;
    top: 50%;
}

.smallCloudThree
{
    width: 25%;
    left: 0%;
    bottom: 0%;
}

.skyText
{
    z-index: 2;
    font-weight: bold;
}

.smallRainbow
{
    width: 20%;
    right: 20%;
    top: 100px;
    rotate: 20deg;
}


.sun
{
    width: 20%;
    left: 20%;
    top: 100px;
    rotate: -10deg;
}