.heroBackground {
  background-image: url("/img/hero-image.jpg");
  background-size: cover;
  background-position: center;
}

.barriecitoFont {
  font-family: "Barriecito", cursive;
}

.title::after {
  position: relative;
  display: inline-block;
}

.title::after {
  content: "";
  display: flex;
  left: 0;
  height: 4px;
  background-color: #ff7a00;
  border-radius: 2px;
}
